@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

[data-theme='dark-theme'] {
  --background: #171717;
  --foreground: #FFFFFF;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
}
/* react swiper pagination styles */
.dark .swiper-pagination-bullet {
  background: #f6fef4b0 !important;
  width: 14px !important;
  height: 14px !important;
  transition: opacity 0.3s;
}
.swiper-pagination-bullet {
  background: #bdee63 !important;
  width: 14px !important;
  height: 14px !important;
  transition: opacity 0.3s;
}
/* -- Testimonial mouse scroller CSS --*/
.scroll-downs {
  position: relative;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
/*.dark .mousey {
  border: 3px solid #fff;
}*/
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  /*animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;*/
}
/*.dark .scroller {
  background-color: #fff;
}*/
/*
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}*/

/* -- shop slider styles -- */
/*.price {
  text-align: center;
  font-weight: bold;
  color: #577538;
  font-size: .8999rem;
  margin-top: 16px;
  letter-spacing: 2px;
}*/