@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}
/*:root[data-theme="dark"] {
  --color-background: #121212 !important;
  --color-text: #ffffff !important;
}*/

[data-theme='dark-theme'] {
  --background: #171717;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
}

/* react swiper pagination styles */
.dark .swiper-pagination-bullet {
  background: #f6fef4b0 !important;
  width: 14px !important;
  height: 14px !important;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet {
  background: #bdee63 !important;
  width: 14px !important;
  height: 14px !important;
  transition: opacity 0.3s;
}

/* -- Testimonial mouse scroller CSS --*/
.scroll-downs {
  position: relative;
  margin: auto;
  width :34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;

}

@media (min-width: 768px) {
  .mobile-callout {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .callout {
    display: none !important;
  }
  .mobile-callout {
    margin-top: 5rem !important;
  }
}
