@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

[data-theme='dark-theme'] {
  --background: #171717;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
}

/* react swiper pagination styles */
.dark .swiper-pagination-bullet {
  background: #f6fef4b0 !important;
  width: 14px !important;
  height: 14px !important;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet {
  background: #bdee63 !important;
  width: 14px !important;
  height: 14px !important;
  transition: opacity 0.3s;
}

/* -- Testimonial mouse scroller CSS --*/
.scroll-downs {
  position: relative;
  margin: auto;
  width :34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;

}

@media (min-width: 768px) {
  .mobile-callout {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .callout {
    display: none !important;
  }
  .mobile-callout {
    margin-top: 5rem !important;
  }
}


.dark .footer {
  background-color: #111210;
}

/* ------------- Sitewide tooltip styling ---------- */
.dark .tooltip-content {
  color: var(--lime-7);
}
.tooltip-content {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: var(--lime-11);
  background-color: white;
  box-shadow:
          hsl(206 22% 7% / 35%) 0 10px 38px -10px,
          hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.tooltip-content[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.tooltip-content[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.tooltip-content[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.tooltip-content[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}
.tooltip-arrow {
  fill: white;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--lime-11) !important;
  user-select: none;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ---------- END ---------- */

/* ---------- SHOP LATEST SLIDER  --------- */
@media(max-width: 768px) {
  .shop-heading {
    font-size: 3.5rem;
    text-align: center;
  }
}
.tracking-in-expand-fwd-bottom {
  -webkit-animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-3-13 14:17:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}



.shop-latest-swiper .swiper-button-next,
.shop-latest-swiper .swiper-button-prev  {
  background-color: #d2d2d7a3;
  border-radius: 56px;
  height: 56px;
  width: 56px;
  color: #000;
  text-align: center;
  font-weight: bold;
}

  @media (max-width: 768px) {
    .shop-latest-swiper .swiper-button-next,
    .shop-latest-swiper .swiper-button-prev {
      height: 56px;
      width: 56px;
    }
  }
/*  ----------- END ------------- */